{% extends 'base.html.twig' %}

{# @var travel \App\Entity\Travel #}
{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <div>
                <h1 style="display:inline-block;">Your travels</h1>
            </div>
            <div>
                <a type="submit" class="btn btn-primary text-right" href="{{ path('profile.create') }}">
                    Create
                </a>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for travel in travels %}
                <tr>
                    <td> {{ travel.title }}</td>
                    <td>
                        <a href="{{ path("profile.edit", {id: travel.id}) }}" class="btn btn-secondary">
                            Edit
                        </a>
                        <a href="{{ path("profile.delete", {id: travel.id}) }}" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}