{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>My Travel Management System</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lacinia mauris. Maecenas arcu enim,
            sollicitudin eu risus quis, varius rhoncus turpis. Vivamus ut tincidunt velit. Sed ut eleifend est. Fusce
            sollicitudin enim id sem blandit posuere. Donec non lectus ultrices velit efficitur semper. Donec a augue
            eros. Sed mollis tincidunt felis, sit amet pretium sapien faucibus eget. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Praesent odio mauris, finibus nec orci ut, feugiat
            scelerisque justo. Sed non diam tellus. Cras iaculis dolor non maximus rutrum.</p>
    </div>
{% endblock %}

